<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec finibus velit. Nulla dui sapien, facilisis vitae condimentum non, pharetra congue tellus. Fusce in ornare nibh. Praesent feugiat lectus ex, id molestie felis tristique nec. Cras commodo ex quis magna finibus, non condimentum enim vehicula. Morbi auctor ultricies ligula quis sagittis. Donec malesuada neque dui, a consequat turpis gravida eget. Praesent feugiat elit odio, ut molestie tellus efficitur semper. Sed eget dignissim odio. In lobortis ligula id felis euismod euismod.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-at"></i> email@email.com</li>
                <li><i class="fa-solid fa-square-phone"></i> (00) 0 0000-0000 </li>
                <li><i class="fa-brands fa-square-whatsapp"></i> (00) 0 0000-0000 </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>