.products-all{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding-bottom: 15px;
}
.products-title{
    font-size: 24px !important;
    line-height: 32px;
    color: var(--font-color);
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 24px;
    margin-left: 25px;
}