.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.container span {
    font-size: 150px;
    margin-bottom: 10px;
}

.container h2 {
    font-size: 1.25rem;
}