.basket-header{
    height: 100px;
    width: auto;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.basket-back-bt{
    position: absolute;
    display: flex;
    align-items: center;
    left: 24px;
    height: 32px;
    padding: 6px 8px;
    background-color: #fff;
    border-radius: 25% / 50%;
}
.basket-back-bt svg{
    margin-right: 4px;
}
h1{
    font-family: inherit;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
}
.basket-list{
    margin-top: 8px;
    width: auto;
    height: calc(100vh - 220px);
    overflow-y: auto;
}
.products-worning{
    font-size: 24px !important;
    line-height: 32px;
    color: var(--font-color);
    font-weight: bold;
    font-size: inherit;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay{
    margin: 0 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}
.basket{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.pay-bt{
    color: #fff;
    background-color: var(--primary);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 56px;
    width: 199px;
}
h4{
    font-size: 16px;
    line-height: 24px;
}
.pay-info span{
    font-size: 22px;
    line-height: 32px;
    color: var(--font-color);
}
.pay-bt:disabled{
    background-color: gray;
}