<div class="order-container">
    <div class="order-container-1">
        <img [src]="order.Product.img">
        <div class="order-options">
            <h2>{{order.Product.name}}</h2>
            <div class="amount-control">
                <button [ngClass]="(order.Amount === 1)? 'decrement delete': 'decrement enable'" (click)="onDecrement()">
                    <svg *ngIf="order.Amount > 1" width="16" height="3" viewBox="0 0 16 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="1.3335" x2="16" y2="1.3335" stroke="currentColor" stroke-width="2" />
                    </svg>
                    <svg  *ngIf="order.Amount === 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            fill="currentColor"
                            d="M17 6h5v2h-2v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8H2V6h5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3zm1 2H6v12h12V8zm-9 3h2v6H9v-6zm4 0h2v6h-2v-6zM9 4v2h6V4H9z" />
                    </svg>
                </button>
                <span class="value">
                    {{order.Amount}}
                </span>
                <button class="increment enable" (click)="order.addAmount(1)">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="order-price" [style.color]="(discountEnable)? 'green': 'var(--font-color)'">
        <div>{{price | currency: 'R$ '}}</div>
        <div *ngIf="discountEnable">{{Economy | currency: '-R$ '}}</div>
    </div>
</div>
<hr>