/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: brandon-grotesque, sans-serif;
	font-style: normal;
	font-weight: 500;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background: #FFFFFF;
}
button{
	background-color: transparent;
	border: none;
}
button:focus{
	outline: none;
	border: none;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--primary: #FFA451;
	--primary-container: #FFF2E7;
	--font-color: #27214D;
	--search-color: #F3F4F9;
	--error: red;
	--error-container: #FFE4C4;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_reg.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_reg_it.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_light_it.otf');
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_light.otf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_bld.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_med.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_med_it.otf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: brandon-grotesque;
	src: url('./assets/Brandon_bld_it.otf');
	font-weight: bold;
	font-style: italic;
}

@keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-2-26 0:19:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  