<app-search/>
<div class="products-title" *ngIf="Query_is_enable">Produtos</div>
<div class="badge-list" *ngIf="Query_is_enable">
    <app-badge-search name="{{q}}" *ngFor="let q of Query_list" />
</div>
<section class="products-all" *ngIf="Query_is_enable">
    <div class="products-worning" *ngIf="!Products_is_enable">Nenhum produto encontrado!</div>
    <app-product [product]="p" *ngFor="let p of Products_list" />
</section>
<!-- sem busca -->
<div *ngIf="!Query_is_enable">
    <div class="products-title">Promoções</div>
    <div>
        <app-category [products_list]="CurrentPromoList()" />
    </div>
    <div class="products-title">Periféricos</div>
    <div class="products-category">
        <div *ngFor="let c of All_Category_Peripherals">
            <span [ngClass]="(c.title === currentPeripherals)? 'selected':'notSelected'"
                (click)="setCurrentPeripherals(c.title)">{{c.title}}</span>
        </div>
    </div>
    <div>
        <app-category [products_list]="CurrentList(currentPeripherals)" />
    </div>
    <div class="products-title">Componentes</div>
    <div class="control">
        <div class="products-category">
            <div *ngFor="let c of All_Category_Component">
                <span [ngClass]="(c.title === currentComponent)? 'selected':'notSelected'"
                    (click)="setCurrentComponent(c.title)">{{c.title}}</span>
            </div>
        </div>
    </div>
    <div>
        <app-category [products_list]="CurrentList(currentComponent)" />
    </div>
</div>