.products-all{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 24px;
    /* margin-left: 20px; */
    justify-content: center;
    /* margin-left: 24px;
    margin-bottom: 24px; */
}
.badge-list{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 10px;
}
.home{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.products-title{
    font-size: 24px !important;
    line-height: 32px;
    color: var(--font-color);
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 24px;
    margin-left: 25px;
}
.products-worning{
    font-size: 24px !important;
    line-height: 32px;
    color: var(--font-color);
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 24px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.control{
    flex: 1;
    overflow-x: auto;
}
.products-category div{
    width: max-content;
}
.products-category{
    gap: 24px;
    margin-left: 24px;
    margin-right: 24px;
    flex: 1;
    height: 34px;
    margin-bottom: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
}
.products-category ul{
    width: max-content;
    list-style-type: none;
}
.products-category ul li{
    display: inline;
    width: max-content;
}
.products-category ul li span{
    padding: 10px;
}
.selected{
    font-size: 24px !important;
    font-weight: 500;
    color: var(--font-color);
}
.selected::before{
    content: "";
    position: absolute;
    width: 22px;
    border: solid 1px var(--primary);
    box-sizing: border-box;
    bottom: 0px;
}

.notSelected{
    font-size: 16px !important;
    font-weight: 500;
    color: #938DB5;
}