.product{
    width: 152px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #fff;
    position: relative;
}
.notFavorite{
    fill: none;
}
.favorite{
    fill: var(--primary);
    animation: heartbeat 1.5s ease-in-out infinite both;
}
.product-1{
    display: flex;
    margin-left: 20px;
}

.product-img{
    width: 80px;
    height: 80px;
    margin-top: 6px;
}

.product-like{
    width: min-content;
    height: min-content;
}

.product-2{
    font-size: 16px;
    margin-top: 8px;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 23px;
}

.product-2 span{
    font-weight: bold;
    font-size: inherit;
    color: var(--font-color);
}

.product-3{
    color: var(--primary);
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-value-promo{
    font-size: 14px;
    color: green !important;
}
.product-value{
    font-size: 14px;
}
.discount{
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1px;
    background-color: green;
    color: #fff;
}
.product-add-basket{
    color: var(--primary);
    background-color: var(--primary-container);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}