.products-all{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 24px;
    margin-bottom: 24px;
    padding: 15px 24px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 80%, rgba(255,255,255,1) 100%);
}
.products-title{
    font-size: 24px !important;
    line-height: 32px;
    color: var(--font-color);
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 24px;
    margin-left: 25px;
}